<div class="project" >
    <h1 class="project-name">
         {{item?.name}}
    </h1>
    <div class="project-info">
        <div><strong>Description: </strong>{{item?.description}}</div>
        <div><b>Author: </b> {{item?.author?.firstName}} {{item?.author?.lastName}}</div>
        <div><b>Team: </b> {{item?.team?.name}}</div>
        <div><b style="color:rgb(255, 96, 96)">Deadline: </b> {{item?.deadline|myDateFormat}}</div>
        <div><b>Created at: </b> {{item?.createdAt| myDateFormat}} </div>
        <!-- <h4><b>Tasks: </b> {{item?.team.name}}</h4> -->
    </div>
    <div class="todo-buttons">
        <button class="edit" (click)="projectSelected()">edit</button>
        |
        <button class="delete" (click)="projectSelectedToDelete()">delete</button>
    </div>
</div>
